Nombre: Natalia Mendoza Mazo
Prueba Técnica Bancolombia 
Recomendaciones:
•	Lea toda la prueba antes de comenzar a realizarla.
•	Realice primero aquellos puntos en los cuales tiene más conocimiento.

1) SQL (60%)

In [20]:
import pandas as pd
import sqlite3
con = sqlite3.connect("clientes.sqlite")
cur = con.cursor()

Creacion tablas base de datos

In [21]:
cur.execute('DROP TABLE  clave_dinamica')
cur.execute('DROP TABLE  cuentas')
cur.execute('DROP TABLE  clientes')

Carga de datos

In [22]:
f_clientes = open("clientes_create.sql", "r")
cur.execute(f_clientes.read())
f_cuentas = open("cuentas_create.sql", "r")
cur.execute(f_cuentas.read())
f_clave = open("clave_create.sql", "r")
cur.execute(f_clave.read())
con.commit()

In [23]:
f_clientes = open("insert_clientes.sql", "r")
cur.execute(f_clientes.read())
f_cuentas = open("insert_cuentas.sql", "r")
cur.execute(f_cuentas.read())
f_claves = open("insert_clave.sql", "r")
cur.execute(f_claves.read())
con.commit()

a- Seleccionar todos los clientes

In [24]:
df = pd.read_sql_query("SELECT * from clientes", con)
print(df)

      Cedula              Nombre  Region  Edad
0   11111111     Tom B. Erichsen  Centro    35
1   22222222     Natalia Mendoza     Sur    24
2   33333333      Carlos Sanchez  Centro    35
3   44444444       Manuel Garcia   Norte    32
4   55555555      Silvia Cardona  Centro    35
5   66666666  Antonio Guitierrez   Norte    35
6   77777777      Camilo Sanchez     Sur    29
7   88888888    Miguel Campusano  Centro    38
8   99999999       Luisa Alvarez  Centro    35
9   25252525         Paula Gomez     Sur    20
10  35353535     Cesar velasquez   Norte    40
11  24242424       Mario Montoya  Centro    25
12  17171717     Carolina Suarez     Sur    27
13  21212121       Diana Herrera  Centro    32
14  12121212          Camila Gil   Norte    21

b- Seleccionar los clientes que pertenezcan a la region "Centro"

In [25]:
df = pd.read_sql_query('SELECT * from clientes where Region = "Centro"', con)
print(df)

     Cedula            Nombre  Region  Edad
0  11111111   Tom B. Erichsen  Centro    35
1  33333333    Carlos Sanchez  Centro    35
2  55555555    Silvia Cardona  Centro    35
3  88888888  Miguel Campusano  Centro    38
4  99999999     Luisa Alvarez  Centro    35
5  24242424     Mario Montoya  Centro    25
6  21212121     Diana Herrera  Centro    32

c- Seleccionar los clientes que tengan mas de 3 cuentas abiertas en estado activo

In [32]:
df = pd.read_sql_query('WITH CANT AS (SELECT count(*) as Cant, clientes.* from clientes inner join cuentas on clientes.Cedula = cuentas.Cedula_cliente where Estado = 1 group by clientes.Cedula) SELECT * FROM CANT WHERE CANT.Cant >3', con)
print(df)

   Cant    Cedula       Nombre Region  Edad
0     4  25252525  Paula Gomez    Sur    20

d- Seleccionar solamente el nombre de aquellos clientes que tienen clave dinamica

In [27]:
df = pd.read_sql_query('SELECT Nombre from clientes INNER JOIN clave_dinamica ON clientes.Cedula = clave_dinamica.cedula_cliente', con)
print(df)

               Nombre
0     Tom B. Erichsen
1     Natalia Mendoza
2      Carlos Sanchez
3       Manuel Garcia
4      Silvia Cardona
5  Antonio Guitierrez
6     Cesar velasquez
7       Mario Montoya
8     Carolina Suarez
9       Diana Herrera

e- Seleccionar los clientes que no tienen clave dinamica

In [35]:

df = pd.read_sql_query('SELECT Cedula, Nombre, Region, Edad from clientes left outer JOIN clave_dinamica ON clientes.Cedula = clave_dinamica.cedula_cliente where clientes.Cedula is null or clave_dinamica.cedula_cliente is null', con)
print(df)

     Cedula            Nombre  Region  Edad
0  77777777    Camilo Sanchez     Sur    29
1  88888888  Miguel Campusano  Centro    38
2  99999999     Luisa Alvarez  Centro    35
3  25252525       Paula Gomez     Sur    20
4  12121212        Camila Gil   Norte    21

f- Mostrar el saldo total de todas las cuentas agrupado por la region del cliente

In [29]:
df = pd.read_sql_query('SELECT SUM(cuentas.Saldo) as Saldo_Total, clientes.Region from clientes INNER JOIN cuentas ON clientes.Cedula = cuentas.Cedula_cliente group by clientes.Region', con)
print(df)

   Saldo_Total  Region
0       183771  Centro
1       394464   Norte
2       442712     Sur

g- Seleccionar el saldo total de las cuentas activas, abiertas en el mes de mayo de 2018, cuyos
clientes tengan clave dinámica.

In [30]:
df = pd.read_sql_query('SELECT SUM(Saldo) as Saldo_Total from cuentas INNER JOIN clave_dinamica ON cuentas.Cedula_cliente = clave_dinamica.cedula_cliente WHERE cuentas.Estado = 1 AND cuentas.Fecha_apertura >= 20180501 AND cuentas.Fecha_apertura <= 20180531' , con)
print(df)

   Saldo_Total
0         1245

2) Programación (40%)

1) secuencia

In [40]:
y =[]
x = 0
while x != -1:
    x = int(input("Ingresa un valor:  "))
    if x != -1:
        y.append(x)
print('La secuencia ', y)

prom1 = sum(y)/len(y)
print('El promedio de la secuencia: ',prom1)
for a in y[:]:
    if a < prom1:
        y.remove(a)
print('valores por encima del promedio: ',y)
prom2 = sum(y)/len(y)
print('El promedio: ',prom2)

La secuencia  [10, 20, 30, 40, 50, 60]
valores por encima del promedio  [40, 50, 60]
El promedio  50.0

2) par numeros

In [5]:
def ordanmiento_numero(lista, x):
    numero = 0
    cal = []
    total = []
    valor=0
    num = {"uno":0,"dos":0}
    for index,l in enumerate(lista, start=0):
        l2= lista[index+1:len(lista)]
        for d in l2:
            numero = l+d
           
            if numero > x:
                val = numero - x
            elif numero < x:
                val = x-numero

            if val < valor :
                num["uno"]=l
                num["dos"]=d
                valor=val
            elif valor==0:
                num["uno"]=l
                num["dos"]=d
                valor=val
            
        # mayor = max(cal)
        # total.append(mayor)

    return num["uno"] ,num["dos"]
datos = int(input('Ingrese la cantidad de datos a operar: '))
x = int(input('Ingresar el valor de x: '))
lis = []
for d in range(datos):
    valor = int(input('Ingrese valor'))
    lis.append(valor)
lis.sort()    
print('los valores ingresado son: '+ str(lis))
num_uno,num_dos=ordanmiento_numero(lis,x)
print('los valores son: {}  {}'.format(num_uno ,num_dos))

los valores ingresado son: [10, 22, 28, 29, 30, 40]
los valores son: 22  30